<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Paradise - Home page.</title>

    <link rel="stylesheet" href="/css/styles.css">
        
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&family=Nunito+Sans:wght@200;300;400;700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
 
<body>
    
    <!--
    Header con 4 divs:
    1. superior: solo para efectos estéticos de color. visible en todos los viewports
    2. main:  logo, barra búsqueda e ícono carrito compras. visible en todos los viewports. se adapta
    el main a su vez tendrá una sección oculta (precio) que solo se ve en el viewport full
    3. nav: links de navegación. solo visible en viewport tablet y full
    4. inferior: para promos. visible en todos los viewports
    -->
    

    <!-- aqui va el header desde el partial -->
    <%- include("../partials/header")  %> 

    <main>
        <div class="main__posicionMenuTitulo">
            <div class="header_nav-versionesMobile">
                <i class="fa-solid fa-bars header_nav-hamgurgerMenu"></i>
            </div>
            <div>
                <h1 class="main__tituloPagina">Pet Paradise</h1>
                <p class="main__texto-subtitulo"><em>
                    Comprá desde la comodidad tu casa. Ahorrá tiempo y dinero. Descubrí el más amplio stock de productos, las mejores ofertas y servicios para tu mascota.</em>
                <p>
            </div>
        </div>
        <hr class="main__bordeInferiorTextSubtitulo">
        <!-- Navegacion lateral y cuerpo con imágenes principales total 4 -->
        
        <div class="main-principal">
            <nav class="main-principal__nav">
                
                <h3>Perros</h3>
                <ul>
                    <li> <a href="">Alimentos secos </a>  </li>
                    <li> <a href="">Alimentos humedos</a>  </li>
                    <li>  <a href="">Alimentos especiales</a></li>
                </ul>
                <h3>Gatos</h3>
                <ul>
                    <li> <a href="">Alimentos secos</a> </li>
                    <li> <a href="">Alimentos humedos</a> </li>
                    <li> <a href="">Alimentos especiales</a> </li>
                </ul>
                <h3>Accesorios</h3>
                <ul>
                    <li> <a href="">Camas y mantas</a> </li>
                    <li> <a href="">Comederos y bebederos</a> </li>
                    <li> <a href="">Elementos de paseo</a> </li>
                    <li> <a href="">Juguetes</a> </li>
                </ul>
                <h3>Servicios</h3>
                <ul>
                    <li> <a href="">Paseadores de perros</a> </li>
                    <li> <a href="">Veterinarias asociadas</a> </li>
                    <li> <a href="">Higiene de mascotas</a> </li>
                </ul>
            </nav>
            <section class="main-section-articles">


                <% products.forEach(product => { %>
                    <article class="main-article">
                              
                        <img src="/img/productos/<%= product.image %> " alt="">
                        <div class="main-article__textos">
                            <div class="main-article__nombre-precio" >
                                <h3><%= product.brand %> </h3> <p>$<%= product.price %> </p>  
                            </div>    
                            <a href="/products/detail/<%= product.id %>  "><p> <%= product.name %>    </p> </a>   
                            <p class="main-article__texto-detalle" main-article__texto-detalle><%= product.codigo %> </p>
                        </div>    
                    </article> 
               <% }); %>


                
                    <!-- <article class="main-article">
                              
                        <img src="/img/productos/criadores-150002.png" alt="">
                        <div class="main-article__textos">
                            <div class="main-article__nombre-precio" >
                                <h3>Criadores</h3> <p>$4555</p>  
                            </div>    
                            <a href="/products/detail"><p> Carne y pollo para perros adultos   </p> </a>   
                            <p class="main-article__texto-detalle" main-article__texto-detalle>Bolsa 15 kilos.  Código de producto: 148048</p>
                        </div>    
                    </article> 
                
            
            
            
                <article class="main-article">
                    <img src="/img/productos/oldPrince-148048.png" alt="">
                    <div class="main-article__textos">
                        <div class="main-article__nombre-precio" >
                            <h3>Old Prince</h3><p>$7250</p>
                        </div>    
                        <p> <a href="">Alimento secos perros medianos</a> </p>
                        <p class="main-article__texto-detalle">Bolsa 10 kilos.  Código de producto: 135845</p>
                    </div>
                </article>
                
                
                
                
                
                <article class="main-article">
                    <img src="/img/productos/royalCanin-156157.jpg" alt="">
                    <div class="main-article__textos">
                        
                        <div class="main-article__nombre-precio" >
                            <h3>Royal Canin</h3><p>$9250</p>
                        </div>    
                        <p> <a href="">Adult mix tamaño perros medianos</a> </p>
                        
                        <p class="main-article__texto-detalle">Bolsa 20 kilos.  Código de producto: 167865</p>
                    </div>
                </article>
                
                
                <article class="main-article">
                    <img src="/img/productos/vitalCanBalaced_121070.png" alt="">
                    <div class="main-article__textos">
                        <div class="main-article__nombre-precio" >
                            <h3>Vital Balance</h3><p>$4300</p>
                        </div>    
                        <p> <a href="">Alimento mix balanceado</a> </p>
                        <p class="main-article__texto-detalle">Bolsa 10 kilos.  Código de producto: 115597</p>
                    </div>
                </article>
                
                
                
                <article class="main-article">
                    <img src="/img/productos/excellent-alimento-para-gato.png" alt="">
                    <div class="main-article__textos">
                        
                        <div class="main-article__nombre-precio" >
                            <h3>Purina Chow</h3><p>$2150</p>
                        </div>    
                        <p> <a href="">Alimento seco para gatos mayores</a> </p>
                        <p class="main-article__texto-detalle">Bolsa 12 kilos.  Código de producto: 198753</p>
                    </div>
                </article>
                
                
                <article class="main-article">
                    <img src="/img/productos/mvholiday-alimento-para-gatos.png" alt="">
                    <div class="main-article__textos">
                        
                        <div class="main-article__nombre-precio" >
                            <h3>MV Alimento</h3><p>$3870</p>
                        </div>    
                        <p> <a href="">Defense plus multiproteína</a> </p>
                        
                        <p class="main-article__texto-detalle">Bolsa 5 kilos.  Código de producto: 1567893</p>
                    </div>
                </article>
                
                
                <article class="main-article">
                    <img src="/img/productos/proplan-alimento-para-gatos.png" alt="">
                    <div class="main-article__textos">
                        
                        <div class="main-article__nombre-precio" >
                            <h3>Purina Cat</h3><p>$9800</p>
                        </div>    
                        <p> <a href="">Alimento rico en aminoácicos</a>  </p>
                        <p class="main-article__texto-detalle">Bolsa 7.5 kilos.  Código de producto: 198756</p>    
                    </div>
                </article>
                
                
                <article class="main-article">
                    <img src="/img/productos/royalcanin-alimento-para-gatos.png" alt="">
                    <div class="main-article__textos">
                        <div class="main-article__nombre-precio" >
                            <h3>Royal Canin</h3><p>$7350</p>
                        </div>    
                        <p> <a href="">Para gatos castrados young male</a> </p>
                        
                        <p class="main-article__texto-detalle">Bolsa 12 kilos.  Código de producto: 159876</p>        
                    </div>
                </article> -->
       
            </section>
        </div>
        
    </main>
   
    <!-- insertar el footer con partials ejs -->
    <%- include("../partials/footer")  %> 
    
    
</body>
</html>