<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Paradise - Usuarios</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-product.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/register.css">
        
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&family=Nunito+Sans:wght@200;300;400;700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!--
    Header con 4 divs:
    1. superior: solo para efectos estéticos de color. visible en todos los viewports
    2. main:  logo, barra búsqueda e ícono carrito compras. visible en todos los viewports. se adapta
    el main a su vez tendrá una sección oculta (precio) que solo se ve en el viewport full
    3. nav: links de navegación. solo visible en viewport tablet y full
    4. inferior: para promos. visible en todos los viewports
    -->

   <!-- aqui va el header desde el partial -->
   <%- include("../partials/header")  %> 
  
    <main>
        

        <div class="main-encabezado">
            <h1>Usuarios registrados</h1> <div><i class="fa-solid fa-users"></i></div> 
        </div>
        <div class="main-subEncabezado">
            <p>Todos las siguientes personas se han registrado en el sitio.</p>
        </div>


        <!-- Inicio listado usuarios -->
        <section class="main__contenedor-personas">
            <% users.forEach(person => { %>
                <article class="main__borde-persona">
                
                    <h2>ID: <%= person.id %></h2>
                    <p>
                        Nombre: <%= person.nombre %> <br>
                        Email: <%= person.email %> <br>
                        <!-- Fecha de nacimiento: < %= person.nacimiento %> <br> -->
                        Contraseña: <%= person.password %> <br>
                    </p>
                    <p>
                        <a href="/users/editar/<%= person.id %>">Editar usuario id <%= person.id %></a> <br>
                        <a id="main__link-eliminar" href="/users/eliminar/<%= person.id %>">Eliminar usuario id <%= person.id %></a> <br>
                    </p>
                    
                </article>
                
            <% }) %>
        </section>
    </main>

    <!-- insertar el footer con partials ejs -->
    <%- include("../partials/footer")  %> 
    
    
</body>
</html>